@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.primary-color {
  background-color: #e9e9e9;
}
.margin-top {
  margin-top: 100px;
}

/* navbar styles starts here */
.navbar {
  border: 1px solid gray;
}

.navbar > .container {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.nav-logo .container {
  /* border: 1px solid tomato; */
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.logo-img img {
  width: 50px;
  height: auto;
  object-fit: cover;
}

.nav-logo h3 {
  font-size: 1.5rem;
  color: #1b95c4;
}

.nav-logo span {
  font-size: 1.5rem;
  color: #f8631d;
}

.nav-menu .container {
  /* border: 1px solid blueviolet; */
  display: flex;
  gap: 50px;
  align-items: center;
  width: 100%;
}

.nav-menu ul {
  display: flex;
  gap: 50px;
}

.nav-menu ul li {
  list-style: none;
}
.nav-menu ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.login-btn {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: #f8631d;
}
.login-btn h3 {
  font-weight: 800;
}
/* navbar styles ends header */

/* banner styles start here  */
.banner {
  border: 1px solid gray;
  margin-top: 10px;
  /* background-color: #e9e9e9; */
}

.banner > .container {
  border: 1px solid red;
  background-color: #e9e9e9;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-height: 300px;
  display: flex;
  align-items: center;
}

.banner > .container > div {
  width: 50%;
}

.banner-content {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-bag {
  border: 1px solid red;
}

.banner-bag img {
  min-width: 500px;
  max-height: 400px;
  object-fit: cover;
  border: 1px solid black;
}

.banner-title {
  font-size: 3rem;
  color: #f8631d;
}

.banner-tag {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.social-container {
  margin-top: 10px;
}
.social-container i {
  border: 1px solid #1b95c4;
  padding: 5px;
  border-radius: 5px;
}

.banner-btn {
  margin-top: 10px;
}

.btn-see-more,
.btn-shop-now {
  padding: 10px 20px;
  border: 1px solid #f8631d;
  border-radius: 5px;
  color: black;
}

/* banner styles ends here */
